@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

:root {
    --mainfont: "Raleway";
    --secondaryfont: "Roboto Slab";
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    height: 115px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header {
    width: 10%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.logo {
    width: 150px;
}

.nav-container {
    display: flex;
    list-style-type: none;
    /* padding: 10px; */
    justify-content: space-evenly;
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 25px;
    align-items: center;
}

.nav-object {
    margin: 0 60px;
    transition: 0.1s;
}

.nav-object:hover {
    color: rgb(105, 93, 155);
    cursor: pointer;
}

.login {
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 15px;
    background-color: #F0F0F0;
    padding: 10px 20px; 
    border: gray 1px solid;
    border-radius: 15px;
    transition: 0.3s;
}

.login:hover {
    background-color: rgba(20, 29, 116, 0.281);
    cursor: pointer;
    text-decoration: underline;
}

main {
    background-color: #808080;
    opacity: 1;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #091044, #091044 1px, #4c4c4c 1px, #4c4c4c);
    height: 1000px;
    padding-top: 140px;
    display: flex;
    flex-direction: row;
}

.welcome {
    display: flex;
}

.connect-text {
    height: 510px;
    width: 45vw;
    background-color: rgb(11, 37, 88);
    color: white;
    /* font-size: 70px; */
    font-family: var(--secondaryfont);
    font-weight: bold;
    /* -webkit-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7); */
    margin: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
}



.books {
    width: 320px;
    position: absolute;
    left: 480px;
    top: 160px;
}

.connect-title {
    /* padding: 50px; */
    font-size: 60px;
    width: 500px;
    margin-left: 10px;
}

.connect-title span {
    color: rgb(12, 170, 12);
}



.connect-body {
    font-size: 40px;
    margin: 20px 10px;
    font-weight: normal;
}


.how {
    margin-top: 20px;
    width: 45vw;
    margin-left: 30px;
}

.how-title {
    color: white;
    font-family: "Raleway";
    word-spacing: 5px;
    background-color: #050d30;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    margin-left: 230px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #5d2c2d;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
    width: 40%;
}

.card-title {
    color: white;
    font-family: "Raleway";
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}

.card-image {
    width: 125px;
    rotate: 15deg;
    margin-left: 70%;
}

.card-image2 {
    width: 125px;
    rotate: 15deg;
    margin-left: 70%;
    margin-top: 55px;
}

.card-image3 {
    width: 160px;
    rotate: 15deg;
    margin-left: 70%;
    margin-top: 20px;  
}

.card-text {
    color: white;
    font-family: "Raleway";
    font-size: 20px;
    margin-bottom: -20px;
    margin-left: 10px;
    margin-top: 10px;
}

a {
    color: white;
}

a:hover {
    color: rgb(94, 94, 94);
    text-decoration: none;
    transition: 0.2s;
}

