@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/eastman-grotesque-trial');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#signup {
    width: 70vw;
    height: 700px;
}

.background {
    width: 70vw;
    height: 700px;
    background-color: white;
}

h1 {
    color: #182848;
    font-family: "Raleway";
    text-align: center;
}