@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/eastman-grotesque-trial');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

:root {
    --mainfont: "Raleway";
    --secondaryfont: "Roboto Slab";
}


img {
    -webkit-user-drag: none; /* Prevents image dragging in WebKit browsers */
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}   

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    height: 115px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header {
    width: 10%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.logo {
    width: 150px;
}

.nav-container {
    display: flex;
    list-style-type: none;
    /* padding: 10px; */
    justify-content: space-evenly;
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 25px;
    align-items: center;
}

.nav-object {
    margin: 0 60px;
    transition: 0.1s;
}

.nav-object:hover {
    color: #10579d;
    cursor: pointer;
}

.login {
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 15px;
    background-color: #F0F0F0;
    padding: 10px 20px; 
    border: gray 1px solid;
    border-radius: 15px;
    transition: 0.3s;
}

.login:hover {
    background-color: #0f457b51;
    cursor: pointer;
    text-decoration: underline;
}

.login:active {
    background-color: #1a63ac51;
}

main {
    background-image: url(homepage-background.png);
    height: 1000px;
    padding-top: 140px;
    display: flex;
    flex-direction: row;
}

.welcome {
    display: flex;
    
}



.connect {
    height: 500px;
    width: 45vw;
    background-color: rgb(11, 37, 88);
    color: white;
    /* font-size: 70px; */
    font-family: var(--secondaryfont);
    font-weight: bold;
    /* -webkit-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7); */
    margin: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 0;
}



.books {
    width: 320px;
    position: absolute;
    left: 480px;
    top: 160px;
}

.connect-title {
    /* padding: 50px; */
    font-size: 60px;
    width: 500px;
    margin-left: 10px;
}

.connect-title span {
    color: rgb(255, 235, 204);
}



.connect-text {
    font-size: 25px;
    margin: 20px 10px 0px 20px;
    font-weight: normal;
}


.join-button {
    font-family: var(--secondaryfont);
    font-size: 16.5px;
    width: 200px;
    padding: 15px;
    margin-left: 230px;
    border-radius: 10px;
    transition: 0.2s;
    background-color: #0B2558;
    border: 3px solid rgb(244, 219, 219);
    color: white;
}

.join-button:hover {
    cursor: pointer;
    background-color: rgb(240, 219, 192);
    font-size: 17.5px;
    color: #10579d;
    font-weight: 600;
}

.join-button:active {
    background-color: rgb(255, 255, 255);
}

.how {
    margin-top: 20px;
    width: 45vw;
    margin-left: 30px;
    /* line-height: 25px; */
    height: min-content;
}

.how-title {
    color: white;
    font-family: var(--mainfont);
    word-spacing: 5px;
    background-color: #050d30;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    margin-left: 230px;
}   






.cards {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #5d2c2d;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
    width: 40%;
}

.card-title {
    color: white;
    font-family: var(--mainfont);
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}

.card-text1, .card-text2, .card-text3, .card-text4 {
    color: white;
    font-family: var(--mainfont);
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.card-text2, .card-text4 {
    margin-bottom: 23px;
}



.how-button {
    padding: 10px;
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 17.5px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #96484b;
    color: whitesmoke;
    border: 1px solid white;
    transition: 0.1s;
    border-radius: 10px;
}

.how-button:hover {
    cursor: pointer;
    background-color: #ba6a6aee;
    color: rgb(255, 255, 255);
    border-color: #ba6a6aee;
}

.how-button:active {
    background-color: #e8acacee;
}

.card-image {
    width: 125px;
    rotate: 15deg;
    margin-left: 70%;
    margin-top: -60px;
}

.card-image2 {
    width: 125px;
    rotate: 15deg;  
    margin-left: 75%;
    margin-top: -10px;
}

.card-image3 {
    width: 160px;
    rotate: 15deg;
    margin-left: 72.5%;
    margin-top: -10px;
}

.card-image4 {
    width: 125px;
    rotate: 15deg;
    margin-left: 75%;
    margin-top: -30px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
}

.updates {
    margin: 20px;
    font-family: var(--mainfont);
    background-color: rgb(126, 82, 82);
    border-radius: 15px;
    color: white;
    height: 215px;
}

.updates-title {
    padding: 10px;
}

.updates-list {
    margin-left: 40px;
    font-size: 20px;
}

.updates-list-item {
    margin-bottom: 10px;
}

footer {
    background-color: rgb(84, 84, 84);
    width: 100%;
    height: 200px;
}

