@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/eastman-grotesque-trial');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

:root {
    --mainfont: "Raleway";
    --secondaryfont: "Roboto Slab";
}

body.no-scroll {
    overflow: hidden;
}

img {
    -webkit-user-drag: none; /* Prevents image dragging in WebKit browsers */
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}   

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    height: 115px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header {
    width: 10%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#logo {
    width: 100%;
    margin-left: 15px;
}

.nav-container {
    display: flex;
    list-style-type: none;
    /* padding: 10px; */
    justify-content: space-evenly;
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 25px;
    align-items: center;
}

.nav-object {
    margin: 0 60px;
    transition: 0.1s;
    text-align: center;
}

.nav-object:hover {
    color: #10579d;
    cursor: pointer;
}

.hamburger-container {
    display: none;
    font-size: 25px;
}

.hamburger {
    width: 40px;
    height: 30px;
    position: relative;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 40px;
    height: 5.5px;
    background-color: #642B17;
    display: block;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 2px;
}

.bar2, .bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}

.checkbox:checked + label > .hamburger > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar2{
    transform: rotate(45deg);
}

.checkbox:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
}

.checkbox:checked + label > .hamburger > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

a {
    color: black;
    text-decoration: none;
}

.nav-link {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.nav-link:hover {
    color: #10579d;
}

.login {
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 15px;
    background-color: #F0F0F0;
    padding: 10px 20px; 
    border: gray 1px solid;
    border-radius: 15px;
    transition: 0.3s;
}

.login:hover {
    background-color: #0f457b51;
    cursor: pointer;
    text-decoration: underline;
}

.login:active {
    background-color: #1a63ac51;
}

main {
    background-image: url(../imgs/homepage-background.png);
    height: 900px;
    padding-top: 140px;
    display: flex;
    flex-direction: row;
}

.welcome {
    display: flex;
    
}



.connect {
    height: 500px;
    width: 45vw;
    background-color: rgb(11, 37, 88);
    color: white;
    /* font-size: 70px; */
    font-family: var(--secondaryfont);
    font-weight: bold;
    /* -webkit-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
    box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7); */
    margin: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 0;
}



.books {
    width: 20%;
    position: absolute;
    left: 490px;
    top: 160px; 
}

.small-books, .small-books2 {
    display: none;
}

.connect-title {
    /* padding: 50px; */
    font-size: 60px;
    width: 500px;
    margin-left: 10px;
}

.connect-title span {
    color: rgb(255, 235, 204);
}



.connect-text {
    font-size: 25px;
    margin: 20px 10px 0px 20px;
    font-weight: normal;
}


.join-button {
    font-family: var(--secondaryfont);
    font-size: 16.5px;
    width: 200px;
    padding: 15px;
    margin-left: 35%;
    border-radius: 10px;
    transition: 0.2s;
    background-color: #0B2558;
    border: 3px solid rgb(244, 219, 219);
    color: white;
}

.join-button:hover {
    cursor: pointer;
    background-color: rgb(240, 219, 192);
    font-size: 17.5px;
    font-weight: 600;
}

.join-button:active {
    background-color: rgb(255, 255, 255);
}



.how {
    margin-top: 20px;
    width: 45vw;
    margin-left: 30px;
    /* line-height: 25px; */
    height: min-content;
}

.how-title {
    color: white;
    font-family: var(--mainfont);
    word-spacing: 5px;
    background-color: #050d30;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    margin-left: 33.5%;
}   






.cards {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #5d2c2d;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
    width: 40%;
}

.card-title {
    color: white;
    font-family: var(--mainfont);
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}

.card-text1, .card-text2, .card-text3, .card-text4 {
    color: white;
    font-family: var(--mainfont);
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.card-text2, .card-text4 {
    margin-bottom: 23px;
}

.how-button-container {
    display: flex;
    justify-content: center;
}

.how-button {
    padding: 10px;
    font-family: var(--mainfont);
    font-weight: 500;
    font-size: 17.5px;
    /* margin-left: 10px; */
    margin-top: 20px; 
    background-color: #96484b;
    color: whitesmoke;
    border: 1px solid white;
    transition: 0.1s;
    border-radius: 10px;
}

.how-button:hover {
    cursor: pointer;
    background-color: #ba6a6aee;
    color: rgb(255, 255, 255);
    border-color: #ba6a6aee;
}

.how-button:active {
    background-color: #e8acacee;
}

.how-link {
    color: white;
}

.card-image {
    width: 45%;
    rotate: 15deg;
    margin-left: 75%;
    margin-top: -60px;
}

.card-image2 {
    width: 45%;
    rotate: 15deg;  
    margin-left: 80%;
    margin-top: -10px;
}

.card-image3 {
    width: 52.5%;
    rotate: 15deg;
    margin-left: 75%;
    margin-top: -10px;
}

.card-image4 {
    width: 40%;
    rotate: 15deg;
    margin-left: 80%;
    margin-top: -20px;
}

.link {
    color: white;
    text-decoration: underline;
}

.link:hover {
    color: rgb(131, 131, 131);
    text-decoration: none;
    transition: 0.2s;
}

.updates {
    margin: 20px;
    font-family: var(--mainfont);
    background-color: rgb(126, 82, 82);
    border-radius: 15px;
    color: white;
    height: 215px;
}

.updates-title {
    padding: 10px;
}

.updates-list {
    margin-left: 40px;
    font-size: 20px;
}

.updates-list-item {
    margin-bottom: 10px;
}

.updates-list-item:hover {
    cursor: pointer;
}

.updates-list-item:active {
    color: gray;
    transition: 0.2s;
}


.updates-img {
    display: none;
}

li {
    list-style-type: none;
}

footer {
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 180px;
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-evenly;
}


.footer-heading {
    color: rgb(208, 208, 208);
    margin-top: 5px;
}


.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-link {
    color: rgb(166, 166, 166);
    text-decoration: underline;
}

.footer-link:hover {
    cursor: pointer;
}

#login-window {
    display: none;
}

#signup-window {
    display: none;
}



.modal-popout-window {
    display: none;
    top: 0;
    z-index: 3;    
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.658);
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 251);
}

.login-window-content {
    background-color: #05182A;
    width: 450px;
    height: 350px;
    margin-top: -100px;
    padding: 30px 10px 50px 10px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: popout-window-content-animation 0.2s ease-in-out 0s 1 alternate forwards;
}

.close-window {
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22.5px;
    user-select: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.15s;
}

.close-window:hover {
    background-color: rgba(128, 128, 128, 0.405);
    padding: 5px 10px;
    border-radius: 5px;
}

.modal-heading {
    font-family: var(--mainfont);
    text-align: center;
}

#login-form {
    margin: 20px;
    font-family: var(--mainfont);
}

#username-email, #password {
    background-color: #0b2558a5;
    padding: 7.5px;
    box-shadow: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    color: whitesmoke;
    font-family: var(--secondaryfont);
}

#username-email::placeholder, #password::placeholder {
    color: rgba(245, 245, 245, 0.51);
    font-family: var(--secondaryfont);
}

#username-email:focus, #password:focus {
    background-color: #7598dea5;
    transition: 0.2s;
}

#submit {
    background-color: #0b2558a5;
    font-family: var(--mainfont);
    color: whitesmoke;
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
    margin-left: 67.5px;
}

#submit:hover {
    background-color: #7598dea5;
    transition: 0.2s;
    cursor: pointer;
}

.signup-invitation {
    font-family: var(--mainfont);
    margin-left: 12.5px;
    text-align: start;
}

.signup-window-content {
    background-color: #05182A;
    width: 500px;
    height: 400px;
    margin-top: -100px;
    padding: 30px 10px 50px 10px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: popout-window-content-animation 0.2s ease-in-out 0s 1 alternate forwards;
}

@keyframes popout-window-content-animation {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 100%;
    }
}

#signup-link {
    text-decoration: underline;
}


#signup-link:hover {
    cursor: pointer;
}
.signup-text {
    font-family: var(--mainfont);
    text-align: center;
    margin-top: 10px;
}

.email-flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}

#username, #email, #password {
    background-color: #0b2558a5;
    padding: 7.5px;
    box-shadow: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    color: whitesmoke;
    font-family: var(--secondaryfont);
}

#username::placeholder, #email::placeholder, #password::placeholder  {
    color: rgba(245, 245, 245, 0.51);
    font-family: var(--secondaryfont);
}


#username:focus, #email:focus, #password:focus {
    background-color: #7598dea5;
    transition: 0.2s;
}

#modal-hamburger-menu {
    display: none;  
    width: 100%;
    height: 84.25%;
    position: fixed;
    top: 15.5%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.258);
}

.modal-hamburger-menu-content {
    background-color: #E7E7E7;
    width: 30%;
    border-bottom-right-radius: 10px;
    animation: hamburger-menu-dropdown 0.3s ease 0s 1 alternate forwards;
}

.hamburger-nav-container {
    font-family: var(--mainfont);
    font-weight: 600;
    margin-left: 15%;
}

.hamburger-nav-object {
    list-style-type: none;
    padding: 30px 0;
    animation: hamburger-menu-object-from-left 0.4s ease 0.05s 1 alternate forwards;
}

@keyframes hamburger-menu-dropdown {
    0% {
        opacity: 0;
        transform:translateY(-100%);
    }
    100% {
        opacity: 1;
        transform:translateY(0%);
    }
}

@keyframes hamburger-menu-object-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}