@media (max-width: 1286px) {

    #logo {
        width: 110%;
    }

    .nav-container {
        display: flex;
        list-style-type: none;
        /* padding: 10px; */
        justify-content: space-evenly;
        font-family: var(--mainfont);
        font-weight: 500;
        font-size: 20px;
    }

    .nav-object {
        margin: 0 45px;
        transition: 0.1s;
    }

    .login {
        font-family: var(--mainfont);
        font-weight: 500;
        font-size: 15px;
        background-color: #F0F0F0;
        padding: 10px 20px; 
        border: gray 1px solid;
        border-radius: 15px;
        transition: 0.3s;
        width: 100px;
    }

    .connect {
        height: 460px;
        width: 45vw;
        background-color: rgb(11, 37, 88);
        color: white;
        /* font-size: 70px; */
        font-family: var(--secondaryfont);
        font-weight: bold;
        /* -webkit-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
        -moz-box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7);
        box-shadow: inset 0px 61px 84px -36px rgba(0,0,0,0.7); */
        margin: 20px;
        border-radius: 20px;
        padding-top: 20px;
        padding-left: 10px;
        margin-bottom: 0;
    }

    .connect-title {
        font-size: 55px;
        width: 400px;
        margin-left: 10px;
    }

    .books {
        width: 20%;
        position: absolute;
        left: 440px;
        top: 160px;
    }

    .connect-text {
        font-size: 22.5px;
        margin: 20px 10px 0px 10px;
        font-weight: normal;
    }

    .join-button {
        font-family: var(--secondaryfont);
        font-size: 16.5px;
        width: 150px;
        padding: 15px;
        border-radius: 10px;
        transition: 0.2s;
        background-color: #0B2558;
        border: 3px solid rgb(244, 219, 219);
        color: white;
    }






/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
    .cards {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card {
        background-color: #5d2c2d;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 300px;
        border-radius: 10px;
        width: 40%;
    }

    .card-title {
        color: white;
        font-family: var(--mainfont);
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
        margin: 0 10px;
    }

    .card-text1, .card-text2, .card-text3, .card-text4 {
        color: white;
        font-family: var(--mainfont);
        font-size: 17.5px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .card-text2, .card-text4 {
        margin-bottom: 21px;
    }



    .how-button {
        padding: 10px;
        font-family: var(--mainfont);
        font-weight: 500;
        font-size: 17.5px;
        /* margin-left: 10px;
        margin-top: 20px; */
        background-color: #96484b;
        color: whitesmoke;
        border: 1px solid white;
        transition: 0.1s;
        border-radius: 10px;
    }


    .card-image {
        width: 45%;
        rotate: 15deg;
        margin-left: 70%;
        margin-top: -10px;
    }

    .card-image2 {
        width: 45%;
        rotate: 15deg;  
        margin-left: 75%;
        margin-top: 5px;
    }

    .card-image3 {
        width: 55%;
        rotate: 15deg;
        margin-left: 72.5%;
        margin-top: 10px;
    }

    .card-image4 {
        width: 40%;
        rotate: 15deg;
        margin-left: 75%;
        margin-top: 0px;
    }

}

@media (max-width: 1239px) {

    .connect-title {
        font-size: 50px;
    }

    .books {
            width: 21%;
            position: absolute;
            left: 35%;
            top: 170px;
    }

    .how-buton-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .how-button {
        padding: 10px;
        font-family: var(--mainfont);
        font-weight: 500;
        font-size: 16.5px;
        /* margin-left: 8px;
        margin-right: 5px;
        margin-top: 20px; */
        background-color: #96484b;
        color: whitesmoke;
        border: 1px solid white;
        transition: 0.1s;
        border-radius: 10px;
    }

    .card-text1, .card-text2, .card-text3, .card-text4 {
        color: white;
        font-family: var(--mainfont);
        font-size: 16.5px;
        margin-bottom: 0px;
        margin-left: 7px;
        margin-right: 5px;
        margin-top: 10px;
    }
    
    .card-text2, .card-text4 {
        margin-bottom: 19px;
    }


}

@media (max-width: 1229px) {
    .nav-container {
        display: flex;
        list-style-type: none;
        /* padding: 10px; */
        justify-content: space-evenly;
        font-family: var(--mainfont);
        font-weight: 500;
        font-size: 20px;
        align-items: center;
    }

    .nav-object {
        margin: 0 40px;
        transition: 0.1s;
    }

}

@media (max-width: 1216px) {
    .card-image2 {
        width: 40%;
        rotate: 15deg;  
        margin-left: 70%;
        margin-top: 25px;
    }

    .card-image4 {
        width: 40%;
        rotate: 15deg;
        margin-left: 75%;
        margin-top: 0px;
    }
}

@media (max-width: 1200px) {
    .connect-text {
        font-size: 20px;
    }

}

@media (max-width: 1174px) {
    .nav-object {
        margin: 0 45px;
        transition: 0.1s;
        text-align: center;
    }
}

@media (max-width: 1160px) {
    .books {
        top: 180px;
    }

    .how-button {
        font-size: 15px;
    }
}

@media (max-width: 1144px) {
    .card-text2 {
        margin-bottom: 0px;
    }
}

@media (max-width: 1135px) {

    #logo {
        width: 130px;
    }

    .how-title {
        font-size: 18px;
    }

    .card-text1, .card-text2, .card-text3, .card-text4 {
        font-size: 15px;
    }

    .card-text2 {
        margin-bottom: 17px;
    }

    .card-text3 {
        margin-bottom: 3px;
    }

    .card-image, .card-image2 {
        margin-top: 10px;
        width: 50%;
    }
    
    .card-image2 {
        margin-top: 20%;
        margin-left: 65%;
    }

    .card-image3 {
        margin-top: 12.5%;
        width: 55%;
    }

    .card-image4 {
        margin-top: 10px;
        margin-left: 62%;
        width: 45%;
    }

    .books {
        width: 20%;
        left: 36.5%;
        top: 170px;
        display: none;
    }

    .small-books {
        display: block;
        width: 15%;
        position: absolute;
        top: 155px;
        left: 36.5vw;
    }

    /* .small-books2 {
        display: block;
        width: 20%;
        position: absolute;
        top: 440px;
        left: 34.5vw;
        rotate: 180deg;
    } */
}


@media (max-width: 1110px) {
    .card-image2, .card-image4 {
        margin-left: 60%;
    }
}

@media (max-width: 1097px) {

    main {
        height: 1350px;
    }

    /* .books {
        display: block;
        width: 35%;
        top: 15%;
        left: 60%;
    } */
    
    .small-books {
        display: block;
        rotate: 0deg;
        width: 32.5%;
        top: 22.5%;
        left: 64%;
    }

    .login {
        margin-right: 20px;
    }

    .connect-updates {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
    }

    .connect {
        width: 90vw;
    }

    .connect-title {
        font-size: 55px;
        width: 60%;
    }

    .connect-text {
        font-size: 25px;
        width: 50%;
        margin-left: 3%;
    }

    .join-button {
        margin-left: 18%;
        margin-top: 20px;
    }

    .updates {
        width: 90vw;
        position: absolute;
        /* bottom: 500px; */
        top: 650px;
    }

    .updates-img-container {
        display: flex;
        gap: 20px;
        position: absolute;
        top: 50px;
        left: 450px;
    }

    .updates-img {
        display: block;
        width: 130px;
    }

    .how-title-container {
        display: flex;
        justify-content: center;
        width: 95vw;
    }

    .how-title {
        font-size: 25px;
        width: 40%;
        /* margin-left: 77.5%; */
        margin: 0;
    }

    .how {
        position: absolute; 
        top: 900px;
    }

    .cards {
        flex-wrap: nowrap;
        width: 90vw;
    }

    .how .card:nth-child(1) .how-button {
        margin-top: 37.5px;
    }

    .how .card:nth-child(3) .how-button {
        margin-top: 17.5px;
    }

    .how .card:nth-child(4) .how-button {
        margin-top: 17.5px;
    }

    .card-image {
        margin-left: 57.5%;
    }

    .card-image3 {
        margin-left: 57.5%;
        margin-top: 20%;
    }
    
    .card-image4 {
        margin-top: 20%;
        margin-left: 64%;
    }
}

@media (max-width: 1086.40px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 20px;
    }
}

@media (max-width: 1053px) {
    .how .card:nth-child(3) .how-button {
        margin-top: 15px;
    }

    .card-image3 {
        margin-top: 22.5%;
    }
}

@media (max-width: 1037px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 0px;
    }
}

@media (max-width: 1035.2px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 15.5px;
    }
}

@media (max-width: 1032px) {
    #logo {
        position: absolute;
        bottom: 10%;
        right: 85%;
    }
}

@media (max-width: 1019.2px) {
    .how .card:nth-child(3) .how-button {
        margin-top: 0px;
    }
}

@media (max-width: 1010px) {
    .nav-object {
        font-size: 17.5px;
    }
}

@media (max-width: 1003.2px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 2px;
    }
}

@media (max-width: 991px) {
    .connect-title {
        font-size: 50px;
    }
}

@media (max-width: 980px) {
    .how-button {
        margin-top: 30px;
    }

    .how .card:nth-child(1) .how-button {
        margin-top: 30px;
    }

    .how .card:nth-child(3) .how-button {
        margin-top: 10px;
    }

    .how .card:nth-child(4) .how-button {
        margin-top: 10px;
    }
}

@media (max-width: 970px) {
    .updates-img-container {
        left: 45%;
    }

    .small-books {
        top: 175px;
    }
}

@media (max-width: 965px) {
    .nav-container {
        margin-left: 100px;
    }

    .small-books {
        width: 35%;
    }
}

@media (max-width: 928px) {
    .how-title-container {
        width: 90vw;
    }
}
 
@media (max-width: 903px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 50px;
    }

    .how .card:nth-child(2) .how-button {
        margin-top: 32.5px;
    }   

    .how .card:nth-child(3) .how-button {
        margin-top: 28px;
    }
    .how .card:nth-child(4) .how-button {
        margin-top: 28.5px;
    }
}

@media (max-width: 901.60px) {
    .how .card:nth-child(2) .how-button {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .login {
        margin-right: 34px;
        margin-left: -30px;
    }

    .connect-title {
        font-size: 47.5px;
    }
}

@media (max-width: 897px) {
    .card-image, .card-image2, .card-image3, .card-image4 {
        display: none;
    }

    .how .card:nth-child(1) .how-button {
        margin-top: 85px;
    }

    .how .card:nth-child(2) .how-button {
        margin-top: 85px;
    }   

    .how .card:nth-child(3) .how-button {
        margin-top: 65px;
    }
    .how .card:nth-child(4) .how-button {
        margin-top: 67.5px;
    }    
}


@media (max-width: 885.60px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 65px;
    }
}



@media (max-width: 880px) {
    .nav-object {
        display: none;
    }

    .nav-container .nav-object:last-of-type {
        display: block;
    }

    .hamburger-container {
        display: block;
        position: absolute;
        left: 0;
        margin-left: 40px;
    }

    .login {
        position: absolute;
        right: 0;
        top: 32.5%;
    }

    #logo {
        left: 42.5%;
        margin: 0;
        scale: 115%;
    }
}

@media (max-width: 869.6px) {
    .how .card:nth-child(2) .how-button {
        margin-top: 68px;
    }
}
@media (max-width: 863.2px) {
    .how .card:nth-child(3) .how-button {
        margin-top: 46px;
    }
}

@media (max-width: 860px) {
    .updates-img {
        width: 25%;
    }

    .updates-img-container {
        top: 65px;
        left: 50%;
    }
}

@media (max-width: 852px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 47.5px;
    }
}

@media (max-width: 840px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 85px;
    }
}

@media (max-width: 817px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 85px;
    }
}

@media (max-width: 806.40px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 67.5px;
    }
}


@media (max-width: 801.60px) {
    .connect-text {
        margin-top: 10px;
        font-size: 22.5px;
    }
}

@media (max-width: 783.20px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 50px;
    }
}

@media (max-width: 780px) {
    .how-title {
        width: 250px;
        /* margin-left: 62.5%; */
    }

    .small-books {
        left: 60%;
        width: 40%;
    }
}




@media (max-width: 758.40px) {

    .updates-img-container {
        top: 80px;
        left: 52.5%
    }

    .updates-img {
        width: 27.5%
    }
}

@media (max-width: 739.20px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 30px;
    }
}

@media (max-width: 729.60px) {
    .how .card:nth-child(3) .how-button {
        margin-top: 28px;
    }
}

@media (max-width: 727.20px) {
    .card-title {
        font-size: 18px;
    }
}

@media (max-width: 705px) {
    .card-title {
        font-size: 17.5px;
    }
}

@media (max-width: 687px) {
    #logo {
        left: 40%;
    }
}

@media (max-width: 684.60px) {
    .small-books {
        top: 200px;
    }
}

@media (max-width: 670.40px) {
        .how .card:nth-child(2) .how-button {
            margin-top: 50px;
        }
}

@media (max-width: 665px) {
    .cards {
        flex-wrap: wrap;
    }

    .card {
        height: 200px;
    }

    .how .card:nth-child(1) .how-button {
        margin-top: 47.5px;
    }

    .how .card:nth-child(2) .how-button {
        margin-top: 10px;
    }
    
    .how .card:nth-child(4) .how-button {
        margin-top: 27.5px;
    }
}

@media (max-width: 664px) {
    .connect {
        width: 89vw;
    }
    .connect-title {
        font-size: 40px;
    }

    .connect-text {
        font-size: 21.5px; 
    }
    .small-books {
        top: 205px;
        left: 57.5%;
    }
}

@media (max-width: 657.60px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 29px;
    }
}

@media (max-width: 624px) {
    .cards {
        margin-left: -2%;
    }
}

@media (max-width: 616px) {
    #logo {
        left: 38.5%
    }

    .how .card:nth-child(3) .how-button {
        margin-top: 11px;
    }
}

@media (max-width: 605.60px) {
    .how .card:nth-child(4) .how-button {
        margin-top: 12px;
    }
}

@media (max-width: 604px) {
    .how .card:nth-child(1) .how-button {
        margin-top: 10px;
    }

    .how .card:nth-child(4) .how-button {
        margin-top: -7.5px;
    }
}

@media (max-width: 603.20px) {
    .connect {
        width: 88vw;
    }
}

@media (max-width: 600px) {
    .how .card:nth-child(3) .how-button {
        margin-top: -7.5px;
    }
}

@media (max-width: 585.60px) {
}

@media (max-width: 575.20px) {
    .small-books {
        left: 60%
    }
}

@media (max-width: 571.20px) {
    #logo {
        left: 36%;
    }

    /* .cards {
        margin-left: -7.5px;
    } */

    .card-text1,
    .card-text2,
    .card-text3,
    .card-text4 {
        font-size: 13.5px;
    }

    .how .card:nth-child(3) .how-button {
        margin-top: 10px;
    }

    .how .card:nth-child(4) .how-button {
        margin-top: 9px;
    }
}



@media (max-width: 557.60px) {
    .how .card:nth-child(3) .how-button {
        margin-top: -5px;
    }

    .updates-img-container {
        display: none;
    }
}

@media (max-width: 552px) {


    .connect {
        width: 87vw;
    }

    .connect-title {
        font-size: 35px;
    }

    .connect-text {
        font-size: 20px;
    }

    .small-books {
        left: 57.5%;
    }

    .join-button {
        margin-top: 20px;
    }
}

@media (max-width: 548px) {
    .how .card:nth-child(4) .how-button {
        margin-top: -5px;
    }

    .modal-hamburger-menu-content {
        width: 35%
    }
}

@media (max-width: 540px) {
    .cards {
        margin-left: -5%;
    }
}

@media (max-width: 522px) {
    .card-title {
        font-size: 16px;
    }
}

@media (max-width: 519.20px) {
    .how .card:nth-child(3) .how-button,
    .how .card:nth-child(4) .how-button {
        margin-top: 7px;
    }
}

@media (max-width: 510.40px) {
    #logo {
        left: 35%;
    }

    .connect {
        width: 86vw;
    }
}

@media (max-width: 506px) {
    .small-books {
        left: 60%
    }
}


@media (max-width: 493.60px) {
    #logo {
        left: 34%;
    }
}

@media (max-width: 488px) {
    .connect-title {
        font-size: 32.5px;
    }
}


@media (max-width: 473.60px) {
    .connect {
        width: 85vw;
    }

    .updates {
        width: 86vw;
    }

    .how .card:nth-child(1) .how-button {
        margin-top: 27.5px;
    }

}

@media (max-width: 469.60px) {
    .how-button {
        font-size: 12.5px;
        padding: 10px 5px;
    }

    .how .card:nth-child(3) .how-button {
        margin-top: -5px;
    }

    .how .card:nth-child(4) .how-button {
        margin-top: 10px;
    }
}

@media (max-width: 468px) {
    #logo {
        left: 33%;
    }
}

@media (max-width: 464px) {
    .how .card:nth-child(4) .how-button {
        margin-top: -6px;
    }
}

@media (max-width: 450px) {
    main {
        height: 1900px;
    }

    .card {
        width: 500px;
    }

    .card-title {
        font-size: 150%;
    }

    .card-text1,
    .card-text2,
    .card-text3,
    .card-text4 {
        /* font-size: 100%; */
        text-align: center;
        margin-bottom: 0;
    }

    .how .card:nth-child(1) .how-button,
    .how .card:nth-child(2) .how-button,
    .how .card:nth-child(3) .how-button,
    .how .card:nth-child(4) .how-button {
        margin-top: 25px;
    }
}

@media (max-width: 461px) {
    .modal-hamburger-menu-content {
        width: 37%;
    }
}

@media (max-width: 458.4px) {
    .connect-title {
        font-size: 31px;
    }

    .connect-text {
        font-size: 18.5px;
    }
}

@media (max-width: 457px) {
    #logo {
        bottom: 14%
    }
}

@media (max-width: 446px) {
    #logo {
        width: 110px;
    }

    .hamburger .bar {
        width: 32px;
        height: 5.5px;
    }

    .bar3 {
        right: 8px;
    }

    .login {
        padding: 7px 2px;
        margin-top: 2.5px;
    }
}

@media (max-width: 430px) {
    .how-title-container {
        width: 87vw;
    }
}

@media (max-width: 423px) {
    #logo {
        left: 32%;
    }
}

@media (max-width: 420px) {
    .modal-hamburger-menu-content {
        width: 39%;
    }
}

@media (max-width: 410px) {
    .modal-hamburger-menu-content {
        width: 42.5%;
    }
}

@media (max-width: 400px) {
    #logo {
        left: 37%;
        top: 20%;
        width: 100px;
    }

    .login {
        margin-right: 10px;
    }

    .small-books {
        left: 55%
    }

    .updates-title {
        font-size: 22px;
    }

    .updates-list-item {
        font-size: 17.5px;
    }

    .cards {
        margin-left: -7%;
    }
}

@media (max-width: 395px) {
    .how-title-container {
        width: 85vw;
    }
}

@media (max-width: 380px) {
    #logo {
        left: 35%;
    }

    .connect-title {
        font-size: 28px;
    }

    .connect-text {
        font-size: 17px;
    }
}

@media (max-width: 376px) {
    .modal-hamburger-menu-content {
        width: 45%;
    }
}

@media (max-width: 367px) {
    .join-button {
        margin-top: 30px;
    }
}

@media (max-width: 352px) {
    #logo {
        left: 33.5%;
    }

    .login {
        font-size: 12.5px;
    }
/* 
    .hamburger {
        scale: 95%;
    }*/
} 

@media (max-width: 350px) {
    .modal-hamburger-menu-content {
        width: 48%;
    }
}

@media (max-width: 355px) {
    .how-title-container {
        width: 83vw;
    }
}

@media (max-width: 348px) {
    .updates {
        height: 220px;
    }
}

@media (max-width: 346px) {
    .small-books {
        left: 57.5%;
    }

    .cards {
        margin-left: -8.5%;
    }
}

@media (max-width: 338px) {
    #logo {
        left: 33%;
    }
    .login {
        padding: 5px 0px;
        top: 35%;
    }
}

@media (max-width: 335px) {
    .modal-hamburger-menu-content {
        width: 50%;
    }
}

@media (max-width: 328px) {
    .small-books {
        left: 59%;
    }
}

@media (max-width: 343px) {
    #logo {
        left: 32.5%;  
    }

    .hamburger {
        margin-left: -30px;
    }
    
    .login {
        width: 50px;
        padding: 5px 10px;
        top: 32.5%;
    }
}

@media (max-width: 331px) {
    main {
        width: 101vw;
        overflow: hidden;
    }

    footer {
        width: 101vw;
    }

    .how-title-container {
        width: 82vw;
    }
}

@media (max-width: 324px) {
    .how .card:nth-child(1) .how-button,
    .how .card:nth-child(3) .how-button,
    .how .card:nth-child(4) .how-button {
        margin-top: 10px;
    }
}

@media (max-width: 321px) {
    .card-text1,
    .card-text2,
    .card-text3,
    .card-text4 {
        font-size: 15px;
    }
}

@media (max-width: 321px) {
    #logo {
        left: 33.5%;
    }

    .small-books {
        left: 60%;
    }


    .modal-hamburger-menu-content {
        width: 55%;
    }
}